@import "../../assets/scss/common/fonts";
@import "../../assets/scss/common/colors";

.nav-btn-holders {
  text-decoration: none;
  color: white;
}

.home {
  width: 100%;
  background-color: $main-color-dark_blue;
  height: 105vh;


  .bg-img {
    img {
      width: 1400px !important;
      opacity: 0.4;
      position: absolute;
      right: -380px;
      top: -200px;
    }
  }

  .details-area {
    padding-top: 17rem;

    .txt-mission {
      position: absolute;
      z-index: 99999 !important;
      font-weight: 800;
      font-size: 68px;
      color: white;
    }

    .dialog-box-view {
      z-index: 1;
      position: absolute;
      width: 430px;
      left: 5px;
      top: -3rem;
      transform: rotate(-3deg);
    }

    .special-text {
      z-index: 99999 !important;
      font-weight: 800;
      color: $main-color-dark_blue;
    }

    .vision-desc-holder {
      margin-top: 21rem;

      .vision {
        font-size: 18px;
        font-weight: 100 !important;
        color: white;
        font-family: "Roboto Light";
      }
    }

    .glass-card-holder {
      margin-top: 2rem;

      .glass-card {
        margin-top: 3rem;
        color: white;
        padding: 1.5rem;
        background: rgba(255, 255, 255, 0.2);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(12.5px);
        -webkit-backdrop-filter: blur(12.5px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);

        .eternel_logo {
          width: 100px;
        }

        .btn_eternel_contact_us {
          padding: 10px 0 0 0;

          font-size: 20px;
          font-weight: 600 !important;
          color: white;

        }

        .eternel_desc {
          margin: 5px 0 5px 0;
          font-size: 16px;
          font-weight: 100 !important;
          color: white;
          font-family: "Roboto Light";
        }
      }
    }
  }

}

.about_us {
  background: rgb(13, 18, 34);
  background: linear-gradient(180deg, rgba(13, 18, 34, 1) 0%, rgba(0, 0, 0, 1) 50%, rgba(13, 18, 34, 1) 100%);
  padding: 10rem 0;
  margin-top: -10px;

  .rightSide-pattern {

  }

  .leftSide-pattern {
    left: -180px;
    position: absolute;
    opacity: 0.5;


    animation-name: slide-bottom;
    animation-duration: 10.2s;
    animation-timing-function: ease-in-out;
    animation-delay: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-fill-mode: both;
  }


  .rightSide-pattern {
    position: absolute;
    right: -180px;
    top: 1300px !important;
    opacity: 0.5;

    animation-name: slide-bottom;
    animation-duration: 10.2s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-fill-mode: both;

  }

  @keyframes slide-bottom {

    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-200px);
    }
  }

  .about-logo {
    width: 450px;
  }

  .txt-content {
    color: white;

    h1 {
      font-family: Roboto;
      font-size: 150px;
      color: white;
      margin-bottom: 0;
    }

    p {
      font-family: "Roboto Light" !important;
      font-size: 20px;
      line-height: 28px;
    }

    a {
      font-size: 22px;
      font-weight: 600;
      text-decoration: underline !important;
      background-image: linear-gradient(
                      to right,
                      #e4e3e3,
                      #2017e6 50%,
                      #ffffff 50%
      );
      background-size: 200% 100%;
      background-position: -100%;
      display: inline-block;
      padding: 10px 0;
      position: relative;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: all 0.3s ease-in-out;
    }

    a:before {
      content: '';
      background: #f6f5f5;
      display: block;
      position: absolute;
      bottom: -3px;
      left: 0;
      width: 0;
      height: 3px;
      transition: all 0.3s ease-in-out;
    }

    a:hover {
      letter-spacing: 3px;
      transition: 0.2s ease-in-out;
      background-position: 0;
    }

    a:hover::before {
      width: 100%;
    }

  }

}