$main-color-purple: #50286D;
$main-color-dark_blue: #0D1222;
$main-color-dark: #101010;
$main-color-light-green: #08C164;
$main-color-pink: #AC3E7F;
$soft-light-pink: #F5E8F0;
$soft-pink: #DDCFD9;
$green: #0C7938;
$ash: #666666;
$inout-ash: #CFD3DE;
$light-ash: #667080;
$black: #111111;
$white: #FFFFFF;
$blue: #2B6CB0;
$ash-white: #E9EEF4;
$blue-ash: #EDF0F7;
$hover-purple: #642d8f;
$black2: #000000;
$main-red: #EF0F38;
