

/**Fonts Constant**/

$font-thin:"Poppins-Thin";
$font-light:"Poppins-Light";
$font-regular:"Poppins-Regular";
$font-medium:"Poppins-Medium";
$font-bold:"Poppins-Bold";
$font-black:"Poppins-Black";
