$colors: #2f4b26, #3e885b, #85bda6, #bedcfe, #c0d7bb;
.mainSliderWrapper {
  overflow: hidden;

  .carousel {
    position: absolute;
    left: calc(50% - 150px);
    top: calc((100vh - 620px) / 2);
    transform-origin: 150px 2500px;
    will-change: transform;

    .wrapper {
      position: absolute;
      transform-origin: 150px 2500px;
      @for $i from 0 through 36 {
        &:nth-child(#{$i}) {
          transform: rotate(#{$i * 10}deg);

          .content-holder {
            background-image: radial-gradient(#08C164 0, #053b1d 100%);
          }
        }
      }

      &:active {
        cursor: grabbing;
      }

      .content-holder {
        width: 300px;
        height: 400px;
        border-radius: 15px;
        background-image: radial-gradient(#08C164 0, #053b1d 100%);

        .img-details {
          width: 300px;
          height: 400px;
          border-radius: 15px;
          object-fit: cover;
        }
      }

    }
  }


}


@media (max-width: 376px) {
  .mainSliderWrapper {
    .carousel {
      position: absolute;
      left: calc(50% - 150px);
      top: calc((100vh - 420px) / 2);
      transform-origin: 150px 2500px;
      will-change: transform;

    }


  }
}


